<!DOCTYPE html>
<html>
  <head>
    <title>{{conf.title}}</title>
    <meta name="description" content="{{conf.description}}">

    <!-- Mobile Meta for responsiveness-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

    <!-- Loads in all styles you have listed in conf.js -->
    {{#each conf.styles}}
      <link rel="stylesheet" href="{{path}}" type="text/css">
    {{/each}}

  </head>
  <body>