{{> header}}
  <div class="content">
    <h1>Welcome to {{conf.title}}</h1>
    <p>{{conf.description}}</p>
    <p>Created by <a href="https://github.com/chrismadrigal">Chris Madrigal</a> for more info see <a href="http://github.com/chrismadrigal/express-starter">documentation</a></p>
  </div>
{{> footer}}